h1,h2,h3,h4,h5,h6{
    margin: 0px;
}

ul,ol{
    margin: 0px;
    padding: 0px;
}

   
p{
    margin: 0px;
}

ul{
            display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    list-style: none;
    padding-left: 0px;
    margin: 0px;

    }

     img{
        border: 0;
    display: block;
    max-width: 100%;
    height: auto
    }